<div class="userinfo">
  <div class="userinfo-message" *ngIf="userService.userInfo">
    <div class="userinfo-message-list">
      {{userService.userInfo.nickName}},你好!
    </div>
    <div class="userinfo-message-list">
      个人信息
    </div>
    <div class="userinfo-message-list">
      退出登录
    </div>
  </div>
  <div *ngIf="!userService.userInfo" class="userinfo-message">
    <nz-input-group nzPrefixIcon="user" class="userinfo-form-block">
      <input type="text" nz-input [(ngModel)]="form.username" placeholder="Username"/>
    </nz-input-group>
    <nz-input-group nzPrefixIcon="lock" class="userinfo-form-block">
      <input type="password" nz-input [(ngModel)]="form.password" placeholder="Password"/>
    </nz-input-group>
    <div class="userinfo-form-block">
      <input type="text" nz-input [(ngModel)]="form.Captcha" placeholder="验证码"/>
      <div class="userinfo-form-block-img" (click)="getVerificationCode()">
        <img [src]="imgUrl" alt="">
      </div>
    </div>
    <button nz-button [nzType]="'primary'" (click)="submitForm()" style="margin:0 auto">登陆</button>
  </div>
</div>
