// 头像区域
.avatar {
    border-bottom: 2px solid #fff;

    &:hover {
        background-image: url(https://gitee.com/Uvdream/images/raw/master/images/20201208171839.gif);
        background-size : 100% 100%;
    }

    &-img {
        width      : 100px;
        height     : 100px;
        margin     : 0px auto;
        padding-top: 20px;

        img {
            width        : 100%;
            border-radius: 50%;
            animation    : light 4s ease-in-out infinite;
            transition   : 0.5s;

            &:hover {
                transform: scale(1.15) rotate(720deg);

            }
        }
    }

    &-person {
        text-align   : center;
        margin-top   : 20px;
        margin-bottom: 20px;

        &-name {
            color: #999;
        }

        &-introduction {
            // color     : ;
            margin-top: 5px;
        }
    }
}