<div class="detail">
    <div class="detail-title">
        试题详情
    </div>
    <div class="detail-topic">
        <div [innerHTML]="detail.title | MarkdownPreview"></div>
        <div class="detail-topic-footer">
            <div class="detail-topic-footer-tag">
                <section *ngFor="let item of detail.tag_arr">
                    {{item}}
                </section>
            </div>
            <div class="detail-topic-footer-number">

            </div>
        </div>
    </div>
    <div class="detail-content">
        <button nz-button nzType="primary" nzShape="round" nzBlock *ngIf="!showAnswer"
            (click)="showAnswer=!showAnswer">查看答案和解析</button>
        <div [innerHTML]="detail.answer_md | MarkdownPreview" *ngIf="showAnswer"></div>
    </div>
</div>