<div class="comments" *ngFor="let item of data" [ngClass]="{children: isChildren}">
    <div [ngClass]="{replay:item.ID===activeId}">
        <div class="comments-top">
            <div class="comments-top-avatar">
                <img [src]="item.avatar" alt="">
            </div>
            <div class="comments-top-right">
                <div>
                    {{item.user_name}}
                </div>
                <!-- <div> {{item.comment_content}}</div> -->
                <div [innerHTML]="item.comment_content | MarkdownPreview"></div>
                <!-- <app-markdown-preview [Markdown]="item.comment_content"></app-markdown-preview> -->
            </div>
        </div>
        <div class="comments-bottom">
            <div>
                {{item.CreatedAt | date:"y-d-MM HH:mm "}}
            </div>
            <div class="comments-bottom-reply" (click)="replyFunc(item)" *ngIf="item.ID!==activeId">
                回复
            </div>
            <div class="comments-bottom-reply" (click)="replyFunc({ID:0})" *ngIf="item.ID===activeId">
                取消回复
            </div>
        </div>
    </div>
    <!-- <div *ngIf="item.ID===activeId">
        <app-comment-form [replyID]="activeId"></app-comment-form>
    </div> -->

    <app-comment-component [data]="item.children" isChildren="true" (ActiveIDOut)="replyFunc($event)">
    </app-comment-component>
</div>