.question {
    .iconfont {
        color: rgb(44, 93, 226);
    }

    &-block {
        display    : flex;
        align-items: center;
        margin     : 10px 0;

        label {
            flex-basis : 100px;
            flex-shrink: 0;
            font-size  : 20px;
        }

        &>div {
            width: calc(100%-100px);

            pre {
                width: 100%;
            }
        }
    }

    &-section {
        label {
            font-size: 20px;
        }

        &>div {
            min-height   : 50px;
            border       : 1px solid #ccc;
            border-radius: 8px;
            padding      : 10px;
        }
    }


}

.add-tag {
    display: flex;
    padding: 5px;
}