.home {
    width: 100%;

    &-page {
        width     : 100%;
        text-align: center;
        margin    : 20px 0;
    }
    &-skeleton{
        margin: 20px;
        background-color: #fff;
        padding: 10px;
        border-radius: 8px;
    }
}