<nz-spin nzTip="文章加载中..." style="margin-top:100px" *ngIf="loading">
</nz-spin>
<div class="detail">
  <!-- 上面 -->
  <div class="detail-title" *ngIf="!loading">
    <div class="detail-title-top">
      <h1>{{ title }}</h1>
      <div>
        <span class="iconfont uv-caret-forward-circle-outline margin-left-right-5"></span>
        <span class="iconfont uv-book-outline margin-left-right-5"></span>
        <span class="iconfont uv-print-outline margin-left-right-5" (click)="print()"></span>
      </div>
    </div>
    <div>
      <span class="iconfont uv-person-outline" style="margin: 0 5px 0 0"></span>

      <span>{{ author }}</span>

      <span class="iconfont uv-time-outline" style="margin: 0 5px 0 10px"></span>
      <span>{{ time| date:"y-d-MM HH:mm:ss " }}</span>
      <span class="iconfont uv-chatbubble-outline" style="margin: 0 5px 0 10px"></span>
      <span>{{ commentCount===''?'暂无':commentCount+'条评论' }}</span>
      <span class="iconfont uv-eye-outline" style="margin: 0 5px 0 10px"></span>
      <span>{{ viewCount===''?'暂无': viewCount+'次浏览'}}</span>
      <span class="iconfont uv-information-outline" style="margin: 0 5px 0 10px"></span>
      <span>{{ wordCount===''?'暂无统计':wordCount+'字数' }}</span>
    </div>
  </div>
  <!-- 图片 -->
  <div *ngIf="!loading" class="detail-img" class="detail-img" [ngStyle]="{
      'background-image': 'url(' + topImg + ')'
    }">
  </div>
  <div #vditor id="vditor" class="detail-content" [ngClass]="{'padding-30':!loading}" (click)="contentClick($event)">
  </div>
  <div [innerHTML]="htmlContent" style="display: none"></div>
  <div class="detail-praise" *ngIf="!loading">
    <div class="detail-praise-time">
      <section class="one-text">
        <span class="iconfont uv-time-outline"></span>
        最后修改时间:{{UpdatedAt|date:"y-d-MM HH:mm:ss "}}
      </section>
      <section class="one-text">
        <span class="iconfont uv-alert-circle-outline"></span>
        允许转载
      </section>
    </div>
    <div class="detail-praise-text" *ngIf="tabList.length!==0">
      <button nz-button nzType="primary" nzShape="round" nzDanger (click)="showModal(true)">
        赞赏
      </button>
      <p>{{collectText}}</p>
    </div>
  </div>
  <nz-modal [(nzVisible)]="isVisible" nzTitle="赞赏作者" [nzContent]="modalContent" [nzFooter]="modalFooter" nzWidth="400"
    (nzOnCancel)="showModal(false)">
    <ng-template #modalContent>
      <div class="detail-modal-img">
        <div class="detail-modal-img-tab">
          <section *ngFor="let item of tabList" (click)="tabClick(item)" [ngClass]="{ active: activeId == item.ID }">
            {{ item.name }}
          </section>
        </div>
        <img class="detail-modal-img-url" [src]="imgUrl" alt="" />
      </div>
    </ng-template>
    <ng-template #modalFooter>
      <div class="detail-modal-footer">
        <button nz-button nzType="primary" nzShape="round" (click)="showModal(false)">
          确认
        </button>
      </div>
    </ng-template>
  </nz-modal>
  <div class="detail-btn" *ngIf="!loading">
    <button nz-button nzType="default" nzShape="round">上一篇</button>
    <button nz-button nzType="default" nzShape="round">下一篇</button>
  </div>

</div>