.notice {
    width: 100%;
    display: flex;
    background-color:rgb(248,245,228) ;
    padding: 0 4px;
    border-radius: 4px;
    .iconfont{
        color: orange;
    }
    &-main{
        width      : 100%;
        overflow   : hidden;
        white-space: nowrap;
    
        &-content {
           float: left;
        }
    
    }
}
.show{
    display: none;
}