<div class="hot">
  <div class="hot-title">
    热门文章
  </div>
  <ul class="hot-article">
    <li class="hot-article-block" *ngFor="let item of list" (click)="toDetail(item.ID)">
      <img [src]="item.avatar" alt="">
      <div class="hot-article-block-right">
        <h4 class="hot-article-block-title text-ellipsis-two" [title]="item.title">
          {{item.title}}
        </h4>
        <div class="hot-article-block-like">
          <!-- <span class="iconfont uv-thumbs-up-outline"></span> -->
          <svg aria-hidden="true" class="svg margin-left-right-5" (click)="print()">
            <use xlink:href="#icon-A7"></use>
          </svg>
          <span class="hot-article-block-like-span">{{item.like_count| numberFormat}}</span>
        </div>
      </div>
    </li>
  </ul>
</div>