<div class="comments">
  <div class="comments-title">
    留言:
    <span>*</span>
  </div>
  <div>
    <!-- <textarea rows="4" [(ngModel)]="form.comment_content" nz-input></textarea> -->
    <app-markdown-edit [EditValue]="form.comment_content" [height]="200" (EditValueOutput)="editOutput($event)">
    </app-markdown-edit>
  </div>
  <div class="comments-private">
    <div>

    </div>
    <!-- <div>
      是否私密
      <nz-switch nzSize="small" disabled [(ngModel)]="form.is_private"></nz-switch>
    </div> -->
  </div>
  <div nz-row [nzGutter]="5">
    <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="8" nzXXl="8" *ngIf="!userExist">
      <div class="comments-title">
        昵称:
        <span>*</span>
      </div>
      <nz-input-group [nzPrefix]="prefixTemplateUser">
        <input [(ngModel)]="form.user_name" maxlength="30" type="text" nz-input placeholder="请输入你的昵称" />
      </nz-input-group>
      <ng-template #prefixTemplateUser>
        <img [src]="form.avatar" alt="" class="comments-avatar">
      </ng-template>
    </div>

    <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="8" nzXXl="8" *ngIf="!userExist">
      <div class="comments-title">
        邮箱:
        <span>*</span>
      </div>
      <input type="email" [(ngModel)]="form.email" nz-input placeholder="输入邮箱(将保密)" />
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="8" nzXXl="8" *ngIf="!userExist">
      <div class="comments-title">
        网址:
      </div>
      <input type="text" [(ngModel)]="form.blog_url" nz-input placeholder="输入网址或者博客" />
    </div>
    <div class="comments-btn">
      <!-- <button (click)="commentFunc()">留言</button> -->
      <div class="btn" (click)="commentFunc()">
        留言
      </div>
    </div>
    <div class="comments-user " *ngIf="userExist">
      <div class="comments-user-prompt">
        欢迎回来!
      </div>
      <div class="comments-user-msg ">
        <img [src]="form.avatar" alt=""> <span>{{form.user_name}}</span>
      </div>
    </div>
  </div>
</div>