<div>

    <nz-table #basicTable nzShowPagination nzTableLayout="fixed" nzBordered nzShowSizeChanger
        [nzFrontPagination]="false" [nzData]="list" [nzTotal]="totalCount"
        (nzPageSizeChange)="onCurrentPageSizeChange($event)" (nzPageIndexChange)="onCurrentPageChange($event)">
        <thead>
            <tr>
                <th nzAlign="center">图片</th>
                <th nzAlign="center">图片地址</th>
                <th nzAlign="center">上传位置</th>
                <th nzAlign="center">存储位置</th>
                <th nzAlign="center">上传时间</th>
                <th nzAlign="center">Tag</th>
                <th nzAlign="center" nzWidth="120px">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td nzAlign="center" nzBreakWord="true">
                    <div class="img-preview">
                        <img [src]="data.url" alt="">
                    </div>
                </td>
                <td nzEllipsis nzAlign="center">
                    <a [href]="data.url" target="_blank">{{data.url}}</a>
                </td>
                <td nzAlign="center">{{ data.type }}</td>
                <td nzEllipsis nzAlign="center">{{ data.position }}</td>
                <td nzEllipsis nzAlign="center">{{ data.CreatedAt| date:"y-d-MM HH:mm:ss " }}</td>
                <td nzEllipsis nzAlign="center">{{ data.tag }}</td>

                <td nzAlign="center">
                    <button nz-button nzType="primary" nzDanger (click)="delete(data)">删除</button>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>