<div class="article-list">
  <nz-table #basicTable nzShowPagination nzTableLayout="fixed" [nzLoading]="loading" nzBordered nzShowSizeChanger
    [nzFrontPagination]="false" [nzData]="list" [nzTotal]="totalCount"
    (nzPageSizeChange)="onCurrentPageSizeChange($event)" (nzPageIndexChange)="onCurrentPageChange($event)">
    <thead>
      <tr>
        <th [nzChecked]="checked" [nzIndeterminate]="indeterminate" nzWidth="50px"></th>
        <th nzAlign="center">文章标题</th>
        <th nzAlign="center">文章摘要</th>
        <th nzAlign="center">文章创建时间</th>
        <th nzAlign="center">文章更新时间</th>
        <th nzAlign="center">作者</th>
        <th nzAlign="center">浏览量</th>
        <th nzAlign="center" nzWidth="250px">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td [nzChecked]="setOfCheckedId.has(data.id)"></td>
        <td nzEllipsis nzAlign="center">{{ data.title }}</td>
        <td nzEllipsis nzAlign="center">{{ data.introduction }}</td>
        <td nzEllipsis nzAlign="center">{{ data.CreatedAt| date:"y-d-MM HH:mm:ss " }}</td>
        <td nzEllipsis nzAlign="center">{{ data.UpdatedAt| date:"y-d-MM HH:mm:ss " }}</td>
        <td nzEllipsis nzAlign="center">{{data.user_name}}</td>
        <td nzEllipsis nzAlign="center">{{data.view_count}}</td>
        <td>
          <button nz-button nzType="primary" (click)="edit(data,1)">编辑</button>
          <button nz-button style="margin:0 10px" (click)="edit(data,2)">置顶</button>
          <button nz-button nzType="primary" nzDanger (click)="edit(data,3)">删除</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>