<div class="message">
  <div class="message-title">博客信息</div>
  <div class="message-content">
    <section>
      <div>
        <span class="iconfont uv-ribbon-outline"></span>

        文章数目
      </div>
      <div class="message-tag">200</div>
    </section>
    <section>
      <div>
        <span class="iconfont uv-chatbubble-outline"></span>

        评论数量
      </div>
      <div class="message-tag">100</div>
    </section>
    <section>
      <div>
        <span class="iconfont uv-browsers-outline"></span>

        运行天数
      </div>
      <div class="message-tag">4年7天</div>
    </section>
    <section>
      <div>
        <span class="iconfont uv-pulse-outline"></span>
        最后活动
      </div>
      <div class="message-tag">4天前</div>
    </section>
  </div>
</div>
