<div class="label-block">
    <label class="label-block-label">博客名称:</label>
    <input nz-input type="text" placeholder="请输入博客名称" class="label-block-input" [(ngModel)]="form.blog_name">
</div>
<div class="label-block">
    <label class="label-block-label">博客logo:</label>
    <input nz-input type="text" placeholder="请输入博客logo URL" class="label-block-input" [(ngModel)]="form.blog_logo">
</div>
<div class="label-block">
    <label class="label-block-label">博客开始时间:</label>
    <!-- <input nz-input type="text" placeholder="博客开始时间" class="label-block-input"> -->
    <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" [(ngModel)]="form.blog_start_time"></nz-date-picker>
</div>
<div class="label-block">
    <label class="label-block-label">博客域名:</label>
    <input nz-input type="text" placeholder="请输入博客域名" class="label-block-input" [(ngModel)]="form.domain_name">
</div>
<div class="label-block-btn">
    <button nz-button nzType="primary" (click)="saveFunc()">保存</button>
</div>