#markdown {
    overflow: hidden;

    ::ng-deep img {
        cursor: zoom-in;
    }

    ::ng-deep blockquote {
        color           : #333;
        background-color: #f3f5f7;
        border-left     : .25em solid #646cff;
        padding         : 1em;
        border-radius   : 4px;
    }
}