<header class="header">
  <div class="header-logo" (click)="toHome()"></div>
  <div nz-row nzAlign="center" class="header-right">
    <!-- 手机 -->
    <div nz-col nzXs="3" nzSm="2" nzMd="0" nzLg="0" nzXl="0" nzXXl="0" class="text-center">
      <span class="iconfont uv-menu-outline" (click)="open()"></span>
    </div>
    <div nz-col nzXs="21" nzSm="22" nzMd="0" nzLg="0" nzXl="0" nzXXl="0" class="text-center">
      <img [src]="blogHttp.BlogLogo" alt="" class="header-right-logo">
      {{blogHttp.BlogName}}
    </div>
    <!-- 动态 -->
    <!-- <div
      nz-col
      nzXs="0"
      nzSm="0"
      nzMd="0"
      nzLg="2"
      nzXl="1"
      nzXXl="1"
      class="text-center"
    >
      <span class="iconfont uv-pulse-outline"></span>
    </div> -->

    <div style="width: 60px" class="header-dynamic text-center">
      <div nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" (nzVisibleChange)="nzVisibleChange($event)">
        <!-- <span class="iconfont uv-pulse-outline"></span> -->
        <svg aria-hidden="true">
          <use xlink:href="#icon-xuanxiang"></use>
        </svg>
        <span class="iconfont uv-chevron-down-sharp"></span>
      </div>
    </div>
    <!-- 动态展示栏 -->
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <app-charts *ngIf="dropShow"></app-charts>
      </ul>
    </nz-dropdown-menu>
    <!-- 搜索 -->
    <div class="header-search">
      <!-- 搜索 -->
    </div>
    <div class="header-video">
      <!-- <app-music></app-music> -->
    </div>
    <div class="header-user header-block">
      <section>
        <!-- <span class="iconfont uv-paper-plane-outline"></span> -->
        <svg aria-hidden="true" *ngIf="!userService.userInfo">
          <use xlink:href="#icon-xihuan"></use>
        </svg>
      </section>
      <section>
        <!-- <span class="iconfont uv-person-outline" nz-dropdown nzTrigger="click" [nzDropdownMenu]="userInfo"
          *ngIf="!userService.userInfo"></span> -->
        <svg aria-hidden="true" *ngIf="!userService.userInfo" nz-dropdown nzTrigger="click" [nzDropdownMenu]="userInfo">
          <use xlink:href="#icon-wode"></use>
        </svg>
        <div *ngIf="userService.userInfo" class="header-avatar">
          <img [src]="userService.userInfo.headerImg" alt="" nz-dropdown nzTrigger="click" [nzDropdownMenu]="userInfo">
        </div>
        <nz-dropdown-menu #userInfo="nzDropdownMenu">
          <app-user-info></app-user-info>
        </nz-dropdown-menu>
      </section>
    </div>
  </div>
  <nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="left" (nzOnClose)="close()">
    <app-left-menus (click)="close()"></app-left-menus>
  </nz-drawer>
</header>