.classify {
    &-tree {
        &-node {
            display    : flex;
            align-items: center;

            &-icon {
                display     : flex;
                align-items : center;
                margin-right: 5px;

                svg {
                    width : 20px;
                    height: 20px;
                }
            }

            .iconfont {
                margin: 0 5px;
            }
        }
    }
}