<div class="message">
  <div class="message-title">博客信息</div>
  <div class="message-content">
    <section>
      <div>
        <span class="iconfont uv-ribbon-outline"></span>
        文章数目
      </div>
      <div class="message-tag">{{config.ArticleCount}}</div>
    </section>
    <section>
      <div>
        <span class="iconfont uv-chatbubble-outline"></span>
        评论数量
      </div>
      <div class="message-tag">100</div>
    </section>
    <section>
      <div>
        <span class="iconfont uv-browsers-outline"></span>
        运行天数
      </div>
      <div class="message-tag">{{config.BlogTime | TimeDiffPipe }}</div>
    </section>
    <section>
      <div>
        <span class="iconfont uv-pulse-outline"></span>
        最后活动
      </div>
      <div class="message-tag">{{config.ActiveTime}}</div>
    </section>
    <section>
      <div>
        <span class="iconfont uv-eye-outline"></span>
        访问量
      </div>
      <div class="message-tag">{{config.BlogViewCount}}次</div>
    </section>
  </div>
</div>