<div class="home">
  <div class="home-skeleton" *ngIf="Loading">
    <nz-skeleton></nz-skeleton>
  </div>
  <div *ngIf="!Loading">
    <app-list
    *ngFor="let item of list"
    [data]="item"
    (HavePassword)="havePassword($event)"
  ></app-list>
  </div>
  <div class="home-page">
    <nz-pagination
      [(nzPageIndex)]="form.page"
      [(nzTotal)]="totalCount"
      (nzPageIndexChange)="pageChange()"
    ></nz-pagination>
  </div>
</div>
<nz-modal
  nzWidth="400"
  [(nzVisible)]="isVisible"
  nzTitle="请输入文章访问密码"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="modalFunc(false)"
>
  <ng-template #modalContent>
    <p style="color: red">*此文章为加密文章,需要访问密码</p>
    <nz-input-group [nzSuffix]="suffixTemplate">
      <input
        [type]="passwordVisible ? 'text' : 'password'"
        nz-input
        placeholder="请输入密码"
        [(ngModel)]="passwordVal"
      />
    </nz-input-group>
    <ng-template #suffixTemplate>
      <i
        nz-icon
        [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
        (click)="passwordVisible = !passwordVisible"
      ></i>
    </ng-template>
  </ng-template>
  <ng-template #modalFooter>
    <button
      nz-button
      nzType="default"
      nzShape="round"
      (click)="modalFunc(false)"
    >
      取消
    </button>
    <button nz-button nzType="primary" nzShape="round" (click)="sureModal()">
      确认
    </button>
  </ng-template>
</nz-modal>
