<nz-layout class="layout">
  <nz-header>
    <div class="logo"></div>
  </nz-header>
  <nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li nz-submenu nzOpen nzTitle="文章相关">
          <ul>
            <li nz-menu-item nzSelected routerLink="/editArticle">文章编写</li>
            <li nz-menu-item routerLink="/articleList">文章列表</li>
            <li nz-menu-item>文章分类管理</li>
          </ul>
        </li>
        <li nz-submenu nzOpen nzTitle="博客相关">
              <ul>
                <li nz-menu-item routerLink="/notice">公告管理</li>
                <li nz-menu-item>评论管理</li>
                <li nz-menu-item>留言管理</li>
          </ul>
        </li>
        <li nz-submenu nzOpen nzTitle="用户相关">
          <ul>
            <li nz-menu-item>用户管理</li>
            <li nz-menu-item>角色管理</li>
            <li nz-menu-item>权限管理</li>
          </ul>
        </li>
        <!-- <li nz-submenu nzTitle="subnav 3">
          <ul>
            <li nz-menu-item>option9</li>
            <li nz-menu-item>option10</li>
            <li nz-menu-item>option11</li>
            <li nz-menu-item>option12</li>
          </ul>
        </li> -->
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-content style="padding: 10px" >
        <div class="content"> 
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>