<div class="register">
  <div class="register-body" nz-row [nzJustify]="'center'" [nzAlign]="'middle'">
    <div nz-col nzXs="20" nzSm="16" nzMd="14" nzLg="9" nzXl="7" [nzXXl]="6" class="register-body-block">
      <div class="register-title">
        注册
      </div>
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
        <!-- 用户名 -->
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>用户名</nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..."
                           [nzErrorTip]="userErrorTpl">
            <input nz-input formControlName="userName" placeholder="请输入用户名"/>
            <ng-template #userErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">
                请输入用户名!
              </ng-container>
              <ng-container *ngIf="control.hasError('duplicated')">
                用户名必填!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <!-- 昵称 -->
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>昵称</nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="nickNameErrorTpl">
            <input nz-input formControlName="nickName" placeholder="请输入昵称" type="text"/>
            <ng-template #nickNameErrorTpl let-control>
              <ng-container *ngIf="control.hasError('nickName')">
                昵称不能为空!
              </ng-container>
              <ng-container *ngIf="control.hasError('required')">
                请输入昵称!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <!-- 邮箱 -->
        <nz-form-item>
          <nz-form-label [nzSpan]="7">邮箱</nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="emailErrorTpl">
            <input nz-input formControlName="email" placeholder="请输入邮箱地址" type="email"/>
            <ng-template #emailErrorTpl let-control>
              <ng-container *ngIf="control.hasError('email')">
                邮箱格式不正确!
              </ng-container>

            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <!-- 密码 -->
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>密码</nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="请输入密码!">
            <input nz-input type="password" formControlName="password"
                   (ngModelChange)="validateConfirmPassword()"/>
          </nz-form-control>
        </nz-form-item>
        <!-- 重复密码 -->
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>重复密码</nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
            <input nz-input type="password" formControlName="confirm" placeholder="请再次输入密码"/>
            <ng-template #passwordErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">
                请输入密码!
              </ng-container>
              <ng-container *ngIf="control.hasError('confirm')">
                两次输入的密码不一致!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzOffset]="7" [nzSpan]="12">
            <button nz-button nzType="primary" [disabled]="!validateForm.valid">注册</button>
            <button nz-button (click)="resetForm($event)" style="margin-left:40px">重置</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>
</div>
