.header {
    height     : 50px;
    line-height: 50px;
    border     : 1px solid transparent;
    box-shadow : rgba(0, 0, 0, 0.05) 0px 1px 4px 1px;
    position   : relative;
    z-index    : 10;
    display    : flex;

    &-right {
        display         : flex;
        background-color: rgb(249, 249, 249);
    }

    &-logo {
        width : 220px;
        height: 50px;
    }



    &-search {
        width: ~'calc(100% - 410px)';
    }

    &-video {
        width: 250px;
    }

    &-user {
        display: flex;
        width  : 100px;

        section {
            width     : 50%;
            text-align: center;
        }
    }


}