<header class="header">
  <div class="header-logo" (click)="toHome()"></div>

  <div nz-row nzAlign="center" class="header-right">
    <div
      nz-col
      nzXs="1"
      nzSm="1"
      nzMd="0"
      nzLg="0"
      nzXl="0"
      nzXXl="0"
      class="header-block"
    >
      按钮
    </div>
    <div
      nz-col
      nzXs="10"
      nzSm="10"
      nzMd="0"
      nzLg="10"
      nzXl="10"
      nzXXl="1"
      class="header-block"
    >
      <span class="iconfont uv-pulse-outline"></span>
    </div>
    <div
      nz-col
      nzXs="14"
      nzSm="12"
      nzMd="12"
      nzLg="14"
      nzXl="14"
      nzXXl="16"
      class="header-block"
    >
      22
    </div>
    <div
      nz-col
      nzXs="14"
      nzSm="14"
      nzMd="0"
      nzLg="14"
      nzXl="14"
      nzXXl="5"
      class="header-block"
    >
      33
    </div>
    <div
      nz-col
      nzXs="14"
      nzSm="14"
      nzMd="12"
      nzLg="14"
      nzXl="14"
      nzXXl="2"
      class="header-block"
    >
      <span class="iconfont uv-paper-plane-outline"></span>
      <span class="iconfont uv-person-outline"></span>
    </div>
  </div>
</header>
