<header class="header">
  <div class="header-logo" (click)="toHome()"></div>
  <div nz-row nzAlign="center" class="header-right">
    <!-- 手机 -->
    <div
      nz-col
      nzXs="3"
      nzSm="2"
      nzMd="0"
      nzLg="0"
      nzXl="0"
      nzXXl="0"
      class="text-center"
    >
      <span class="iconfont uv-menu-outline"></span>
    </div>
    <div
      nz-col
      nzXs="21"
      nzSm="22"
      nzMd="0"
      nzLg="0"
      nzXl="0"
      nzXXl="0"
      class="text-center"
    >
      <span class="iconfont uv-trophy-outline"></span>
      U世界的V梦想
    </div>
    <!-- 动态 -->
    <!-- <div
      nz-col
      nzXs="0"
      nzSm="0"
      nzMd="0"
      nzLg="2"
      nzXl="1"
      nzXXl="1"
      class="text-center"
    >
      <span class="iconfont uv-pulse-outline"></span>
    </div> -->

    <div style="width: 60px" class="header-dynamic text-center">
      <div nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
        <span class="iconfont uv-pulse-outline"></span>
        <span class="iconfont uv-chevron-down-sharp"></span>
      </div>
    </div>
    <!-- 动态展示栏 -->
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        呵呵
      </ul>
    </nz-dropdown-menu>
    <!-- 搜索 -->
    <div class="header-search">搜索</div>
    <div class="header-video">音乐播放器</div>
    <div class="header-user header-block">
      <section>
        <span class="iconfont uv-paper-plane-outline"></span>
      </section>
      <section>
        <span class="iconfont uv-person-outline"></span>
      </section>
    </div>
  </div>
</header>
