<div class="main-right">
  <!-- tabs -->
  <nz-tabset>
    <nz-tab *ngFor="let tab of tabs" [nzTitle]="titleTemplate">
      <ng-template #titleTemplate>
        <div class="main-right-tab">
          <!-- <span class="iconfont" [ngClass]="tab.icon"> </span> -->
          <svg aria-hidden="true" class="margin-left-right-5" (click)="print()">
            <use [attr.xlink:href]="'#'+tab.icon"></use>
          </svg>
        </div>
      </ng-template>
      <!--      {{ tab.name }}-->
      <app-hot-article *ngIf="tab.name==='1'"></app-hot-article>
    </nz-tab>
  </nz-tabset>
  <!-- 博客信息 -->
  <app-blog-message></app-blog-message>
  <!-- 标签 -->
  <app-tags></app-tags>
  <!-- 目录 -->
  <app-catalog *ngIf="pathName === '/detail'"></app-catalog>
</div>