<div nz-row nzAlign="center">
  <div
    nz-col
    nzXs="24"
    nzSm="24"
    nzMd="24"
    nzLg="22"
    nzXl="20"
    nzXXl="18"
    class="main"
  >
    <app-header></app-header>
    <div class="main-left">
      <app-left-menus></app-left-menus>
    </div>
    <div class="main-center">
      <div style="display: flex">
        <div style="width: 100%;">
          <router-outlet></router-outlet>
        </div>
        <app-right-content></app-right-content>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</div>
