<div class="classify">
    <div class="classify-title">
        试题分类
    </div>
    <div class="classify-list">
        <section *ngFor="let item of interviewList" class="classify-list-block">
            <div class="classify-list-block-img">
                <img nz-image [nzSrc]="item.classify_icon" alt="" />
            </div>
            <div class="classify-list-block-text">
                {{item.classify_name}}
            </div>
            <div class="classify-list-block-footer">
                <section (click)="editFunc(item)">修改</section>
                <section (click)="deleteFunc(item.ID)">删除</section>
            </div>
        </section>
        <section class="classify-list-add" (click)="editFunc()">
            +
        </section>
    </div>

    <!-- 新增修改分类 -->
    <nz-modal [(nzVisible)]="isVisible" nzTitle="新增/修改分类" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
        <ng-container *nzModalContent>
            <div class="block">
                <label>分类名称:</label>
                <input nz-input placeholder="请输入分类名称" [(ngModel)]="form.classify_name" />
            </div>
            <div class="block">
                <label>分类图标:</label>
                <input nz-input placeholder="请输入分类图标连接" [(ngModel)]="form.classify_icon" />
            </div>
            <div class="block">
                <label>上传图片:</label>
                <div>
                    <app-upload-image type="interview" [url]="form.classify_icon" (urlChange)="urlChange($event)">
                    </app-upload-image>
                    <p>建议图片不要太大</p>
                </div>
            </div>
        </ng-container>
    </nz-modal>
</div>