<div class="list">
    <nz-collapse>
        <nz-collapse-panel *ngFor="let item of list" [nzHeader]="nzHeader" [nzExtra]="extraTpl">
            <ng-template #nzHeader>
                <div [innerHTML]="item.title | MarkdownPreview"></div>
            </ng-template>
            <ng-template #extraTpl>
                <span class="iconfont uv-terminal-outline" (click)="editFunc(item.ID)"></span>
            </ng-template>
            <div [innerHTML]="item.answer_md | MarkdownPreview">
            </div>
        </nz-collapse-panel>
    </nz-collapse>
    <div class="list-page">
        <nz-pagination nzShowSizeChanger [(nzPageIndex)]="form.page" [(nzPageSize)]="form.page_size"
            [(nzTotal)]="totalCount" (nzPageIndexChange)="pageChange($event)"
            (nzPageSizeChange)="pageSizeChange($event)">
        </nz-pagination>
    </div>

</div>