<div (click)="toDetail(data)" class="list">
  <!-- 置顶单图 -->
  <div class="list-img" *ngIf="data.cover_type == 2" [ngStyle]="{ 'background-image': 'url(' + data.img_url + ')' }">
    <header class="list-header">
      <div class="list-title">
        <span>置顶</span>
        {{ data.title }}
      </div>
      <div class="list-summary">
        {{ data.introduction }}
      </div>
    </header>
  </div>
  <!-- Icon -->
  <div class="list-normal" *ngIf="data.cover_type == 1">
    <div class="list-normal-top">
      <div class="list-normal-top-icon">
        <span class="iconfont" [ngClass]="data.icon"></span>
      </div>
      <h2 class="list-normal-top-title">{{ data.title }}</h2>
      <p class="list-normal-top-summary text-ellipsis-two">
        {{ data.introduction }}
      </p>
    </div>
    <div class="list-normal-split"></div>
    <div class="list-normal-bottom">
      <!-- <span class="iconfont uv-person-outline margin-right-10"></span> -->
      <svg aria-hidden="true" class="margin-right-10">
        <use xlink:href="#icon-wode"></use>
      </svg>
      <span>{{ data.user_name }}</span>
      <!-- <span class="iconfont uv-time-outline margin-left-right-10"></span> -->
      <svg aria-hidden="true" class="margin-left-right-10">
        <use xlink:href="#icon-shijian"></use>
      </svg>
      <span>{{ data.UpdatedAt | date:"y-MM-dd HH:mm "}}</span>
      <!-- <span class="iconfont uv-chatbubble-outline margin-left-right-10 comment"></span> -->
      <svg aria-hidden="true" class="margin-left-right-10 comment">
        <use xlink:href="#icon-xiaoxi"></use>
      </svg>
      <span class="comment">{{
        data.comment_count === "" ? "暂无评论" : data.comment_count + "条评论"
        }}</span>
    </div>
  </div>
  <!-- 左图右文 -->
  <div class="list-leftImg" *ngIf="data.cover_type == 3">
    <div class="list-leftImg-img" [ngStyle]="{ 'background-image': 'url(' + data.img_url + ')' }"></div>
    <div class="list-leftImg-content">
      <h2>{{ data.title }}</h2>
      <p class="list-leftImg-content-summary text-ellipsis-two">
        {{ data.introduction }}
      </p>
      <div class="list-normal-split"></div>
      <div class="list-normal-bottom">
        <!-- <span class="iconfont uv-person-outline margin-right-10"></span> -->
        <svg aria-hidden="true" class="margin-right-10">
          <use xlink:href="#icon-wode"></use>
        </svg>
        <span class="text-ellipsis-one">{{ data.user_name }}</span>
        <!-- <span class="iconfont uv-time-outline margin-left-right-10"></span> -->
        <svg aria-hidden="true" class="margin-left-right-10">
          <use xlink:href="#icon-shijian"></use>
        </svg>
        <span class="text-ellipsis-one">{{ data.UpdatedAt| date:"y-MM-dd HH:mm " }}</span>
        <!-- <span class="iconfont uv-chatbubble-outline margin-left-right-10 comment"></span> -->
        <svg aria-hidden="true" class="margin-left-right-10 comment">
          <use xlink:href="#icon-xiaoxi"></use>
        </svg>
        <span class="comment" class="text-ellipsis-one">{{
          data.comment_count === "" ? "暂无评论" : data.comment_count + "条评论"
          }}</span>
      </div>
    </div>
  </div>
  <!-- 正常文字 -->
  <div class="list-text" *ngIf="data.cover_type == 0">
    <h2>{{ data.title }}</h2>
    <p class="text-ellipsis-two list-text-summary">
      {{ data.introduction }}
    </p>
    <div class="list-normal-split"></div>
    <div class="list-normal-bottom">
      <!-- <span class="iconfont uv-person-outline margin-right-10"></span> -->
      <svg aria-hidden="true" class="margin-right-10">
        <use xlink:href="#icon-wode"></use>
      </svg>
      <span>{{ data.user_name }}</span>
      <!-- <span class="iconfont uv-time-outline margin-left-right-10"></span> -->
      <svg aria-hidden="true" class="margin-left-right-10">
        <use xlink:href="#icon-shijian"></use>
      </svg>
      <span>{{ data.UpdatedAt | date:"y-MM-dd HH:mm "}}</span>
      <!-- <span class="iconfont uv-chatbubble-outline margin-left-right-10 comment"></span> -->
      <svg aria-hidden="true" class="margin-left-right-10 comment">
        <use xlink:href="#icon-xiaoxi"></use>
      </svg>
      <span class="comment">{{
        data.comment_count === "" ? "暂无评论" : data.comment_count + "条评论"
        }}</span>
    </div>
  </div>
  <!-- 上图下文 -->
  <div *ngIf="data.cover_type == 4" class="list-topImg">
    <div class="list-topImg-img" [ngStyle]="{ 'background-image': 'url(' + data.img_url + ')' }"></div>
    <div class="list-topImg-content">
      <h2>{{ data.title }}</h2>
      <p class="text-ellipsis-two list-text-summary">
        {{ data.introduction }}
      </p>
      <div class="list-normal-split"></div>
      <div class="list-normal-bottom">
        <!-- <span class="iconfont uv-person-outline margin-right-10"></span> -->
        <svg aria-hidden="true" class="margin-right-10">
          <use xlink:href="#icon-wode"></use>
        </svg>
        <span>{{ data.user_name }}</span>
        <!-- <span class="iconfont uv-time-outline margin-left-right-10"></span> -->
        <svg aria-hidden="true" class="margin-left-right-10">
          <use xlink:href="#icon-shijian"></use>
        </svg>
        <span>{{ data.UpdatedAt | date:"y-MM-dd HH:mm"}}</span>
        <!-- <span class="iconfont uv-chatbubble-outline margin-left-right-10 comment"></span> -->

        <svg aria-hidden="true" class="margin-left-right-10 comment">
          <use xlink:href="#icon-xiaoxi"></use>
        </svg>
        <span class="comment">{{
          data.comment_count === "" ? "暂无评论" : data.comment_count + "条评论"
          }}</span>
      </div>
    </div>
  </div>
</div>