<div class="comments">
    <div class="comments-search">
        <div>
            <input nz-input placeholder="输入搜索内容" [(ngModel)]="form.search" />
            <button nz-button nzType="primary" (click)="getData()">搜索</button>
        </div>
    </div>

    <nz-table #basicTable nzShowPagination nzTableLayout="fixed" nzBordered nzShowSizeChanger
        [nzFrontPagination]="false" [nzData]="list" [nzTotal]="totalCount"
        (nzPageSizeChange)="onCurrentPageSizeChange($event)" (nzPageIndexChange)="onCurrentPageChange($event)">
        <thead>
            <tr>
                <th nzAlign="center">作者</th>
                <th nzAlign="center">留言内容</th>
                <th nzAlign="center">创建时间</th>
                <th nzAlign="center">更新时间</th>
                <th nzAlign="center" nzWidth="180px">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td nzEllipsis nzAlign="center">{{ data.user_name }}</td>
                <td nzAlign="center" nzBreakWord="true">{{ data.comment_content }}</td>
                <td nzEllipsis nzAlign="center">{{ data.CreatedAt| date:"y-d-MM HH:mm:ss " }}</td>
                <td nzEllipsis nzAlign="center">{{ data.UpdatedAt| date:"y-d-MM HH:mm:ss " }}</td>
                <td>
                    <button nz-button nzType="primary">编辑</button>
                    <button nz-button nzType="primary" nzDanger style="margin-left:10px">删除</button>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>