<div class="github">
    <div class="top-img">
        <img width="100%" src="https://gitee.com/Uvdream/images/raw/master/images/20201109152153.png" alt="">
    </div>
    <app-loading *ngIf="Loading"></app-loading>

    <div nz-row [nzGutter]="[16, 10]" class="github-list">
        <!-- <nz-spin nzSimple [nzSize]="'large'" *ngIf="Loading" style="margin:30% auto"></nz-spin> -->

        <div nz-col class="gutter-row " [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" nzXl="6" nzXXl="8"
            *ngFor="let item of GithubList">
            <div class="github-list-block" [ngStyle]="{backgroundColor: item.color,color:item.fontColor}">
                <!-- 仓库名称 -->
                <div class="github-list-block-title text-ellipsis-one">
                    {{item.name}}
                </div>
                <!-- 点星 -->
                <div class="github-list-block-star">
                    <span class="iconfont uv-star-outline"></span>
                    <span class="github-list-block-star-count">{{item.stargazers_count}}</span>
                    start/
                    <span class="iconfont uv-git-network-outline"></span>
                    <span class="github-list-block-star-count">{{item.forks_count}}</span>
                    fork
                </div>
                <!-- 描述 -->
                <div class="github-list-block-desc text-ellipsis-one">
                    {{item.description===''?'暂无描述':item.description}}
                </div>
                <!-- 按钮 -->
                <a [href]="item.html_url" target="_blank">
                    <button nz-button nzType="primary" [nzSize]="size" nzShape="round" class="github-list-block-btn">
                        <div class="github-list-block-btn-content"><span class="iconfont uv-heart-outline"></span>
                            访问</div>
                    </button>
                </a>
                <!-- 语言 -->
                <div class="github-list-block-lang">
                    {{item.language===''?'暂无':item.language}}
                </div>
            </div>
        </div>
    </div>
</div>