<div class="list">
    <div class="list-title">
        {{classifyName}}
    </div>
    <!-- 列表 -->
    <div class="list-block" *ngFor="let item of list;let i = index" (click)="toDetail(item.ID)">
        <div class="list-block-index">
            第{{i+1}}题
        </div>
        <div class="list-block-title">
            <div [innerHTML]="item.title | MarkdownPreview"></div>
        </div>
        <div class="list-block-footer">

        </div>
    </div>
    <!-- 加载更多 -->
    <button nz-button nzType="primary" nzShape="round" nzBlock (click)="loadMore()" [disabled]="btnDisabled">{{loadingText}}</button>
</div>