<div class="update">
  <nz-timeline nzMode="alternate">
    <nz-timeline-item>2020/9/1 本站新一轮重构</nz-timeline-item>
    <nz-timeline-item nzColor="green">2020/11/1 本站重构初版正式发布</nz-timeline-item>
    <nz-timeline-item nzColor="green">2020/11/1 博客配置读取以及显示功能</nz-timeline-item>
    <nz-timeline-item nzColor="green">2020/11/5 优化了本站一些显示</nz-timeline-item>
    <nz-timeline-item nzColor="green">2020/11/9 github仓库以及关于更新记录功能上线</nz-timeline-item>
    <nz-timeline-item nzColor="green">2020/11/12 admin文章列表以及修改文章功能完善</nz-timeline-item>
    <nz-timeline-item nzColor="green">2020/11/13 访问量统计以及文章访问量统计完善</nz-timeline-item>
    <nz-timeline-item nzColor="green">2020/11/18 公告栏以及后台管理完善</nz-timeline-item>
    <nz-timeline-item nzColor="green">2020/11/24 博客留言功能上线后续待完善</nz-timeline-item>
    <nz-timeline-item nzColor="green">2020/12/7 图片上传以及图片管理功能上线(对接七牛云)</nz-timeline-item>
    <nz-timeline-item nzColor="green">2020/12/22 图片预览以及后台一些功能上线</nz-timeline-item>
    <nz-timeline-item nzColor="green">2021/1/7 评论回复以及登录注册功能上线</nz-timeline-item>
    <nz-timeline-item nzColor="green">2021/1/21 更新页面彩色icon</nz-timeline-item>
    <nz-timeline-item [nzDot]="dotTemplate">计划下个版友链功能</nz-timeline-item>
    <!-- <nz-timeline-item nzColor="red">Network problems being solved 2015-09-01</nz-timeline-item> -->
    <!-- <nz-timeline-item>Create a services site 2015-09-01</nz-timeline-item> -->
  </nz-timeline>
  <ng-template #dotTemplate>
    <i nz-icon nzType="clock-circle-o" style="font-size: 16px;"></i>
  </ng-template>
</div>